:root{
    --text-size: 25px;
    --title-width: 500px;
    --bgcolor: white;
    --stcolor: black;
    --ndcolor: rgb(192, 131, 131);
}
*{
    border:0px solid red;
}
body{
    margin:0px;
    width:100vw;
    display:flex;
    flex-direction: column;
    align-content:center;

}

nav{
    width:100vw;
    /* position:sticky; */
    position:fixed;
    display:flex;
    left:0px;
    top:0px;
    justify-content: space-between;
}
.logo, .setting{
    margin:30px;
    transition: transform 0.1s ease;
}
.logo{
    width:70px;
    height:70px;
}
.setting{
    width:50px;
    height:50px;
    transition:height 0.3s ease
}
.setting:hover,
.logo:hover,
.close-cloud:hover{
    transform:scale(1.1)
}
.setting:active,
.close-cloud:active,
.page-menu .menu-btn:active{
    transform: scale(0.9);
}

.menu-cloud{
    display:flex;
    flex-direction:column;
    position:fixed;
    top:20px;
    right:10px;
    /* border:1px solid red; */
    /* width:15vw; */
    width:0%;
    height:auto;
    /* height:0; */
    background-color:gray;
    border-radius:15px;
    transition: all 0.5s ease;

}
.menu-btn{
    background-color:white;
    border-radius:5px;
    margin:10px;
    padding:5px;
    padding-left:15px;
    height:fit-content;

    display:flex; 
    gap:10px;
}

.menu-btn:hover{
    box-shadow: 7px 8px 24px -10px rgba(0,0,0,0.62);
    -webkit-box-shadow: 7px 8px 24px -10px rgba(0,0,0,0.62);
    -moz-box-shadow: 7px 8px 24px -10px rgba(0,0,0,0.62);
}

.page-custom-feelings input{
    border-bottom:1px solid var(--stcolor);
    width:90px;
}

#to-right-corner{
    display:flex;
    justify-content: end;
}
.menu-cloud .menu-icon{
    width:70px;
    /* height:70px; */
    border:0px solid blue;
    margin-right:10px;
    transition:height 0.5s ease-in-out;
}

.journal-box{
    /* border:1px solid blue; */
    z-index:2;
    align-self:center;
    margin-top:10px;
    /* width:var(--title-width); */
    width:550px;
    display:flex;
    flex-direction: column;
}
ul{
    /* border:1px solid red; */
    margin-top:0px;
}
li{
    margin-left:10px;
    /* border:1px solid green; */
}
li:hover{
    /* background-color: red; */
    /* padding-left:3px; */
    margin-left:3px;
}
li:not(.add-bullet){
    color:var(--stcolor);
    font-size:25px;
}
#bullet-list{
    border-bottom:1px solid var(--stcolor);

}
.underline{
    border-bottom:2px solid blue;
    width:0px;
    margin-top:2px;
} 

.title{
    margin-top:15px;
    padding-left:15px;
    /* border:1px solid green; */
}

input{
    background:none;
}
#input-title{
    width:var(--title-width);
    font-size:var(--text-size);
    font-weight:bold;
    border:none; 
    border-bottom:1px solid black;
}
#input-title:focus{
    outline:none;
}
#input-title:focus ~ .underline{
    width:var(--title-width);
    transition:0.135s;
}

.input-bullet{
    width:100%;
    font-size:20px;
    margin-bottom:5px;
    border:none;
}
.input-bullet:focus{
    outline:none;
}
li:has(.input-bullet:focus){
    list-style: circle;
}
/* .note-container{
    background-color:blue;
} */


#above-space{
    /* border:1px solid red; */
    height:20px;
}
#above-space:hover ~ #above-bullet{
    color:var(--ndcolor);
}
#above-bullet, #bottom-bullet{
    color:var(--bgcolor);
}
#above-bullet:hover, #bottom-bullet:hover{
    color:var(--ndcolor);
}


#bottom-space{
    height:300px;
}
#bottom-space:hover ~ #above-bullet{
    color:var(--ndcolor);
}

.feelings-box{
    /* border:1px solid red; */
    width:100%;
    height:30px;
    display:flex;
    justify-content:flex-end;
    gap:10px;
}

.feelings-box > span{
    padding:5px;
    text-align: center;
    border-radius:10px;    
    background-color:var(--ndcolor);
}